#myVideo{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.navbar-brand{
    color: white!important;
    font-weight: bold;
}

.nav-link{
    color: white!important;
}

.collapse{
    justify-content: flex-end!important;
}

.btn-primary{
    border-radius: 50px!important;
}

.hero-heading{
    height: 80vh;
}

.h1{
    margin-top:200px;
    font-size: 5rem;
    color: white;
}

.h5{
    color: white;
}

.payment{
    background-color: rgb(20, 20, 20);
}

.paymentRequest{
    text-align: center;
    font-size: 7rem;
    color: white;
    margin-bottom: 50px;
    font-weight: bolder;
    line-height: 1.2;
}

.paymentRequest2{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 150px;
}

.row .col{
    color: white!important;
    font-weight: bold;
    text-align: center;
}

.container-payment{
    padding-top: 150px;
    padding-bottom: 150px;
}



